*{
    margin: 0;
    padding: 0;
}
.background{
background-color: darkslateblue;
text-align: center;
}
.color{
    color: white;
    font-size: 1.2rem;
}
.form-control{
    position: absolute;
    background-color: darkslateblue;
    color: white;
    padding: 4px;
    /* margin: 0 auto;
    text-align: left; */

}
.fa-envelope{
    position: relative;
    color: white;
}
.style{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 10px;
    /* text-align: center; */
    
}