<nav class="navbar navbar-expand-lg fixed-top navbar-light header container p-5">
    <div>

        <a class="navbar-brand" href="#">Demo App</a>


    </div>
    <div class="collapse navbar-collapse navpage ">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">ABOUT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">JOBS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">CLIENTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">EMPLOYERS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">CONTACT US</a>
            </li>
        </ul>
    </div>
</nav>